@import "tailwindcss";
@import "tailwindcss/utilities";

* {
    font-family: "Bricolage Grotesque", sans-serif;
    scroll-behavior: smooth;
}

.codePart {
    font-family: 'Google Sans Code', Courier, monospace;
}

